venv/
.venv/
__pycache__/
.ipynb_checkpoints/
.env

data/raw/
db/
models/

data/processed/*
!data/processed/dashboard/
!data/processed/dashboard/**

*.txt
*.parquet
*.duckdb
*.joblib
*.pkl

node_modules/
